# Python 系统缓存
__pycache__/
*.py[cod]
*.pyd
*.log
*.tmp

# Jupyter 全部缓存
.ipynb_checkpoints/
*.ipynb_meta

# 模型大文件（不提交进git仓库）
*.pth
*.pkl
*.npz

# 图片、结果文件
*.png
*.jpg

# 系统垃圾文件
Thumbs.db
.DS_Store
# ------------------- 新增内容开始 -------------------
# MODFLOW 大文件/示例文件（不提交到Git）
02_code/mf6.7.0_win64/doc/*.pdf
02_code/mf6.7.0_win64/examples/**/*.uzf
02_code/mf6.7.0_win64/examples/**/*.hds
02_code/mf6.7.0_win64/examples/**/*.cbb
02_code/mf6.7.0_win64/examples/**/*.bin
# ------------------- 新增内容结束 -------------------
/data
