__pycache__/
*.py[cod]
*.so
.Python
build/
dist/
eggs/
lib/
lib64/
wheels/
*.egg-info/
.installed.cfg
*.egg

.ipynb_checkpoints/

*.yml
*.yaml
!hydro_ai_environment_cleaned.yml

*.pth
*.pkl
*.csv
*.nc
*.tif

.DS_Store
Thumbs.db

.vscode/
.idea/

*.log